.wrapper {
    color: var(--text-color);
    padding: 0 10px;
    padding-bottom: 20px;

    img {
        display: block;
        border-radius: 8px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    h1 {
        padding: 10px 0;
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    ul {

        li {
            margin-left: 50px;
        }
    }

    &:last-child {
        margin-bottom: 50px;
    }
}