.cart_view {
    display: inline-block;
    position: relative;
    .total_item {
         position: absolute;
         display: block;
         width: 20px;
         height: 20px;
         text-align: center;
         line-height: 20px;
         border-radius: 50%;
         background-color: var(--bg-notice);
         color: var(--text-bg);
         top: -5px;
         right: -5px;
    }
}

.cart_popup {
    color: var(--text-color);
    padding: 10px;
    width: 250px;
}

.item {
    text-decoration: none;
    border-radius: 10px;
    color: var(--text-color);
    display: block;
    padding: 5px;
    &:hover {
        background-color: var(--bg-content-color);
    }

    .item_box {
        display: flex;
        align-items: center;
        gap: 10px;
    
        img {
            width: 40px;
            height: 40px;
            border-radius: 10px;
        }

        .info {
            flex: 1;
            overflow: hidden;

            h2 {
                width: 100%;
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;        
            }

            p {
                font-weight: 600;
                span {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

.no_result {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;

    p {
        text-align: center;
        flex: 1;
        font-size: 1.2rem;
    }
}
