.pending {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.text_result {
    color: var(--text-color);
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;

    .icon {
        display: inline-flex;
        align-items: center;
    }
}