.wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .banner_box {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        height: 270px;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;

        & > div > button:first-child {
            left: 0 !important;
        }

        & > div > button::before {
            font-size: 3rem;
            ;
        }
    }
}