.pending {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    h1 {
        color: var(--text-color);
    }
}

.title {
    color: var(--text-color);
    margin-bottom: 20px;
}