.notification {
    display: inline-block;
    position: relative;
    border-radius: 50%;

    .total_alert {
         position: absolute;
         display: block;
         width: 20px;
         height: 20px;
         text-align: center;
         line-height: 20px;
         border-radius: 50%;
         background-color: var(--bg-notice);
         color: var(--text-bg);
         top: -5px;
         right: -5px;
    }
}

.alert-list {
    width: 200px;
    
    .no_result {
        flex: 1;
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
    }
}