
.wrapper {
    border-radius: 20px;
    padding: 3px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    width: 45px;
    height: 75px;
    z-index: 11;
    top: 10px;
    right: 10px;
    background-color: var(--primary-bg);

    .count {
        display: block;
        padding: 5px;
        text-align: center;
        font-size: 1.1rem;
        color: var(--text-color);
        background: var(--bg-content-color);
        border-radius: 10px;
    }
}