.wrapper {
    margin: 20px 0;

    .post {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }
}

@media (max-width: 886px) {
    .wrapper {
        .post {
            flex-wrap: wrap;
            gap: 20px;
        }
    }   
}
@media (max-width: 768px) {


}
@media (max-width: 660px) {


}



