.wrapper {
    margin-top: 20px;
    color: var(--text-color);

    .form-group {
        padding: 10px;
    }
    h1 {
        font-size: 3rem;
        padding: 5px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--bg-content-color);
    }

    label {
        margin-top: 10px;
        display: block;
        font-size: 1.7rem;
    }

    h2 {
        padding: 6px 20px;
    }

    input {
        width: 300px;
        margin: 0 18px;
        padding: 6px;
        background: transparent;
        outline: none;
        border-bottom: 2px solid var(--text-color);
    }

    .profile_info {
        position: relative;
        height: 100%;
        
        .pending {
            position: absolute;
            z-index: 100;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: var(--bg-content-color);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}