.wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    
    .active {
        background-color: var(--text-color);
        color: var(--primary-color);

        &:hover {
            background-color: var(--text-color);
            color: var(--primary-color);
        }
    }
}