.wrapper {
    color: var(--text-color);

    .container {
        margin: 60px 0;

        .result {
            border-collapse: collapse;
            border-color: var(--text-color);
            width: 90%;
            margin: 0 auto;

            tr {
                border-bottom: 1px solid;
            }



            td {
                border: none;
                font-size: 1.7rem;
                padding: 10px;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 10px;
                }

                h1 {
                    font-size: 1.6rem;
                }

                input {
                    background: transparent;
                    width: 60px;
                    color: var(--text-color);
                    text-align: center;
                }

            }
        }
    }
}

.title {
    text-align: center;
    margin: 200px 0;
}

.cart_action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.promoCode_box {
    width: 30%;
    label {
        font-size: 1.2rem;
    }
    input {
        margin: 10px 0;
        width: 100%;
        padding: 10px;
        border: 1px solid var(--bg-content-color);
        background: transparent;
        color: var(--text-color);
    }
}


@media (max-width: 868px) {
    .promoCode_box {
        width: 35%;
    }
}

@media (max-width: 660px) {
    .promoCode_box {
        width: 80%;
    }
}


